<div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 bac">
        <table style="width:100%">
            <br>
            
            <tr >
                <td style="width:40%" class="e1">
                    SIZE
                </td>
                
                <td style="width:60%" class="e2">
                    &nbsp; {{item.size}}
                </td>
            </tr>
            <br>
            <tr >
                <td style="width:40%" class="e1">
                    GSM
                </td>
                <td style="width:60%" class="e2">
                    &nbsp; {{item.gsm}}
                </td>
            </tr>
            <br>
            <tr >
                <td style="width:40%" class="e1">
                    MILLS
                </td>
                <td style="width:60%" class="e2">
                    &nbsp; {{item.mills}}
                </td>
            </tr>
            <br>
            <tr >
                <td style="width:40%" class="e1">
                    QUALITY
                </td>
                <td style="width:60%" class="e2">
                    &nbsp; {{item.quality}}
                </td>
            </tr>
            <br>
            <tr >
                <td style="width:40%" class="e1">
                    REEMWT
                </td>
                <td style="width:60%" class="e2">
                    &nbsp; {{item.reemwt}}
                </td>
            </tr>
            <br>
            <tr >
                <td style="width:40%" class="e1">
                    REEMQTY
                </td>
                <td style="width:60%" class="e2">
                    &nbsp; {{item.reemqty}}
                </td>
            </tr>
            <br>
            <tr >
                <td style="width:40%" class="e1">
                    BUNDLEQTY
                </td>
                <td style="width:60%" class="e2">
                    &nbsp; {{item.bundleqty}}
                </td>
            </tr>
            <br>
            <tr >
                <td style="width:40%" class="e1">
                    WGHT
                </td>
                <td style="width:60%" class="e2">
                    &nbsp; {{item.wght}}
                </td>
            </tr>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 bac" >
        <br><br>
      </div>
      <div class="col-md-12 col-sm-12 bac" >
        <button class="btn" (click)="goBackOneStep()">
            goBack!!
        </button>
      </div>
      <div class="col-md-12 col-sm-12 bac" >
        <br><br>
      </div>
    </div>
  </div>